body {
    width: 285px;
    background: #000 url(images/popupbg.jpg) no-repeat;
    color: #fff;
    font-size: 12px;
    font-family: "Courier New", Courier, Monaco;
    margin-top: 100px;
}

.container {
    width: 280px;
    height: 180px;
}

.save-btn {
    cursor: pointer
}

.logo {
    width: 300px;
    margin: 0 auto;
}

.size {
    background-color: #000;
    border: 1px solid #fff;
    cursor: pointer;
}

.s_area {
    margin-top: 20px;
}

.size-title {
    text-align: right;
    margin-right: 10px;
}

.item_info {
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    background: #fe0000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 280px;
}

button:hover {
    background: #000
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 5px;
}

* {
    -webkit-box-sizing: none !important;
    -moz-box-sizing: none !important;
    box-sizing: none !important;
}

.list-inline > li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.options {
    margin-bottom: 16px
}

.small {
    float: left;
    text-align: right;
    margin-right: 20px;
    width: 220px;
    margin-top: 15px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    margin-left: 10px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 20px;
    background: #000;
    border: 1px solid #fff;
    transition: background-color .2s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 10px;
    height: 10px;
    transition: all .2s;
    background: #fff;
    top: 2px;
    left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background: #fb0d1b
}

[type="checkbox"]:checked + label:after {
    background: #fff;
    top: 2px;
    left: 52px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 10px;
    width: 65px;
    height: 20px;
    font-size: 12px;
    line-height: 18px;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
    content: "OFF";
    left: 32px;
    text-align: left;
}

[type="checkbox"]:checked + label .ui:after {
    content: "ON";
    color: #fff;
    text-align: left;
}

[type="checkbox"]:focus + label:before {
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 2px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fff;
    width: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    margin-left: -10px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #000;
    padding: 2px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #fe0000;
    margin-left: -10px;
}

label[for=item_color] {
    margin-left: -23px;
    padding-right: 10px;
}

.kware {
    display: none;
    margin-top: 10px;
    padding: 0px 0px 0px 34px;
}

#kflabel {
    margin-left: 0px;
}

#keyword {
    width: 200px;
    margin-left: -23px;
    text-align: left !important;
}

.color {
    height: 20px;
}

#item_color {
    width: 150px;
    text-align: left !important;
}

.keyblock {
    display: inline-block;
height: 20px;
margin-bottom: 5px;
}

.hat_size {
    padding:3px;
    margin: 0;
    border-radius: 0px;
    background: none;
    color:#ffffff;
    border:1px solid #fff;
    cursor:pointer;
}

/*select{
     -webkit-appearance:none;
    -moz-appearance:none;
}
*/

option{
    color: #000000;
}

/*input[placeholder] {*/
   /*color:#555;*/
/*}*/

/*input::-webkit-input-placeholder {*/
   /*color:#555;*/
/*}*/